[submodule "confluence-terraform"]
	path = confluence-terraform
	url = https://github.com/SWOT-Confluence/confluence-terraform
[submodule "init_workflow"]
	path = init_workflow
	url = https://github.com/SWOT-Confluence/init_workflow
