# -- Shared Infrastructure --
module "infrastructure" {
  source            = "git::https://github.com/SWOT-Confluence/confluence-terraform//workflow-infrastructure/modules/infra?ref=$INFRA_VERSION"
  app_name          = var.app_name
  app_version       = var.app_version
  aws_region        = var.aws_region
  ec2_key_pair      = var.ec2_key_pair
  sns_email_reports = var.sns_email_reports
  environment       = var.environment
  lpdaac_user       = var.lpdaac_username
  lpdaac_password   = var.lpdaac_password
  prefix            = var.prefix
  vpc_id            = data.aws_vpc.application_vpc.id
  vpc_sg_id         = data.aws_security_group.vpc_default_sg.id
  vpc_subnets       = local.subnet_ids
}

# -- Step Function --
module "step_function" {
  source                 = "git::https://github.com/SWOT-Confluence/confluence-terraform//workflow-step-function/modules/sfn?ref=$SFN_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  environment            = var.environment
  prefix                 = var.prefix
  s3_json_bucket         = module.infrastructure.s3_bucket_json
}

# -- Clean Up --
module "clean_up" {
  source                 = "git::https://github.com/SWOT-Confluence/clean_up//terraform/modules/clean?ref=$CLEAN_UP_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$CLEAN_UP_VERSION"
  prefix                 = var.prefix
}

# -- Combine Data --
module "combine_data" {
  source                 = "git::https://github.com/SWOT-Confluence/combine_data//terraform/modules/combine?ref=$COMBINE_DATA_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$COMBINE_DATA_VERSION"
  prefix                 = var.prefix
}

# -- Init Workflow --
module "init_workflow" {
  source                 = "git::https://github.com/SWOT-Confluence/init_workflow//terraform/modules/init?ref=$INIT_WORKFLOW_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$INIT_WORKFLOW_VERSION"
  prefix                 = var.prefix
}

# -- Input --
module "input" {
  source                 = "git::https://github.com/SWOT-Confluence/input//terraform/modules/input?ref=$INPUT_VERSION"
  api_key                = var.hydrocron_api_key
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$INPUT_VERSION"
  prefix                 = var.prefix
}

# -- Lakeflow --
module "lakeflow" {
  source                 = "git::https://github.com/SWOT-Confluence/LakeFlow_Confluence//terraform/modules/lakeflow?ref=$LAKEFLOW_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$LAKEFLOW_VERSION"
  prefix                 = var.prefix
}

# -- MetroMan --
module "metroman" {
  source                 = "git::https://github.com/SWOT-Confluence/metroman//terraform/modules/metroman?ref=$METROMAN_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$METROMAN_VERSION"
  prefix                 = var.prefix
}

# -- MetroMan Consolidation --
module "metroman_consolidation" {
  source                 = "git::https://github.com/SWOT-Confluence/metroman_consolidation//terraform/modules/metroman_consolidation?ref=$MMC_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$MMC_VERSION"
  prefix                 = var.prefix
}

# -- MOI --
module "moi" {
  source                 = "git::https://github.com/SWOT-Confluence/moi//terraform/modules/moi?ref=$MOI_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$MOI_VERSION"
  prefix                 = var.prefix
}

# -- MOMMA --
module "momma" {
  source                 = "git::https://github.com/SWOT-Confluence/momma//terraform/modules/momma?ref=$MOMMA_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$MOMMA_VERSION"
  prefix                 = var.prefix
}

# -- BUSBOI -- added in v4
module "busboi" {
  source                 = "git::https://github.com/SWOT-Confluence/BUSBOI//terraform/modules/busboi?ref=$BUSBOI_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$BUSBOI_VERSION"
  prefix                 = var.prefix
}

# -- COASTALQ -- added in v4
module "coastalQ" {
  source                 = "git::https://github.com/SWOT-Confluence/coastalQ//terraform/modules/coastalQ?ref=$COASTALQ_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$COASTALQ_VERSION"
  prefix                 = var.prefix
}


# -- neoBAM -- removed in v4
#module "neobam" {
#  source                 = "git::https://github.com/SWOT-Confluence/neobam//terraform/modules/neobam?ref=$NEOBAM_VERSION"
#  app_name               = var.app_name
#  app_version            = var.app_version
#  aws_region             = var.aws_region
#  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
#  environment            = var.environment
#  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
#  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
#  image_tag              = "$NEOBAM_VERSION"
#  prefix                 = var.prefix
#}

# -- Offline --
module "offline" {
  source                 = "git::https://github.com/SWOT-Confluence/offline-discharge-data-product-creation//terraform/modules/offline?ref=$OFFLINE_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$OFFLINE_VERSION"
  prefix                 = var.prefix
}

# -- Output --
module "output" {
  source                 = "git::https://github.com/SWOT-Confluence/output//terraform/modules/output?ref=$OUTPUT_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$OUTPUT_VERSION"
  prefix                 = var.prefix
}

# -- Postdiagnostics --
module "postdiagnostics" {
  source                 = "git::https://github.com/SWOT-Confluence/postdiagnostics//terraform/modules/postdiagnostics?ref=$POSTDIAGNOSTICS_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$POSTDIAGNOSTICS_VERSION"
  prefix                 = var.prefix
}

# -- Prediagnostics --
module "prediagnostics" {
  source                 = "git::https://github.com/SWOT-Confluence/prediagnostics//terraform/modules/prediagnostics?ref=$PREDIAGNOSTICS_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$PREDIAGNOSTICS_VERSION"
  prefix                 = var.prefix
}

# -- Priors --
module "priors" {
  source                 = "git::https://github.com/SWOT-Confluence/priors//terraform/modules/priors?ref=$PRIORS_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$PRIORS_VERSION"
  prefix                 = var.prefix
}

# -- Report --
module "report" {
  source                 = "git::https://github.com/SWOT-Confluence/report//terraform/modules/report?ref=$REPORT_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$REPORT_VERSION"
  prefix                 = var.prefix
}

# -- SAD --
#module "sad" {
#  source                 = "git::https://github.com/SWOT-Confluence/sad//terraform/modules/sad?ref=$SAD_VERSION"
#  app_name               = var.app_name
#  app_version            = var.app_version
#  aws_region             = var.aws_region
#  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
#  environment            = var.environment
#  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
#  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
#  image_tag              = "$SAD_VERSION"
#  prefix                 = var.prefix
#}

# -- Setfinder --
module "setfinder" {
  source                 = "git::https://github.com/SWOT-Confluence/setfinder//terraform/modules/setfinder?ref=$SETFINDER_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$SETFINDER_VERSION"
  prefix                 = var.prefix
}

# -- SIC4DVAR --
module "sic4dvar" {
  source                 = "git::https://github.com/SWOT-Confluence/sic4dvar//terraform/modules/sic4dvar?ref=$SIC4DVAR_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$SIC4DVAR_VERSION"
  prefix                 = var.prefix
}

# -- SSC Input --
module "ssc_input" {
  source                 = "git::https://github.com/SWOT-Confluence/ssc_input//terraform/modules/ssc_input?ref=$SSC_INPUT_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$SSC_INPUT_VERSION"
  prefix                 = var.prefix
}

# -- SSC Model Deployment --
module "ssc_model_deployment" {
  source                 = "git::https://github.com/SWOT-Confluence/ssc_model_deployment//terraform/modules/ssc_model_deployment?ref=$SSC_MODEL_DEPLOYMENT_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$SSC_MODEL_DEPLOYMENT_VERSION"
  prefix                 = var.prefix
}

# -- Validation --
module "validation" {
  source                 = "git::https://github.com/SWOT-Confluence/validation//terraform/modules/validation?ref=$VALIDATION_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$VALIDATION_VERSION"
  prefix                 = var.prefix
}

# -- h2ivdi --
# this may not access the IAM roles or efs vars...
module "hivdi" {
  source                 = "git::https://github.com/SWOT-Confluence/h2ivdi//terraform/modules/hivdi?ref=$HIVDI_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
#  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
#  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
#  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
#  image_tag              = "$HIVDI_VERSION"
  prefix                 = var.prefix
}

# -- Consensus
module "consensus" {
  source                 = "git::https://github.com/SWOT-Confluence/consensus//terraform/modules/consensus?ref=$CONSENSUS_VERSION"
  app_name               = var.app_name
  app_version            = var.app_version
  aws_region             = var.aws_region
  efs_file_system_ids    = module.infrastructure.efs_file_system_ids
  environment            = var.environment
  iam_execution_role_arn = module.infrastructure.exec_iam_role_arn
  iam_job_role_arn       = module.infrastructure.batch_job_iam_role_arn
  image_tag              = "$CONSENSUS_VERSION"
  prefix                 = var.prefix
}

